.blog-header {
  margin-bottom: 50px;
  .teaserimage-image {
    min-height: 450px;
    background: no-repeat, top;
    background-size: cover;
    margin-bottom: 64px;
  }


  .user_avatar {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    top: 385px;
    right: 50%;
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    margin: auto;
    background-repeat: no-repeat;
  }

  .blog-font{
    text-align: center;
    .blog-title {
      font-size: 50px;
      font-weight: 700;
      letter-spacing: -2px;
      outline: 0;
    }

    .blog-description {
      color: #666;
      font-size: 18px;
      line-height: 1.5px;
      font-weight: 400;
      margin: 20px 20px;
    }
    .github-icon {
      color: black;
    }
  }

}
